{% extends 'layout.html' %}
{% block content %}

<h2>新規追加</h2>
<p>以下のフォームより新しいタスクを追加してください</p>

<form method="post" class="form" action="{{ url_for('new') }}">
    <div class="input-container">
        <label for="title">タイトル</label>
        <input type="text" class="form-control" id="title" name="title">
    </div>

    <div class="input-container">
        <label for="description">概要・説明</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>

    <div class="input-container">
        <label for="deadline">期限日</label>
        <input type="date" class="form-control" id="deadline" name="deadline">
    </div>

    <button type="submit" class="btn btn-primary" name="button" value="upsert">追加</button>
</form>

{% endblock  %}

{% block style %}
<style>
    .input-container {
        margin-bottom: 24px;
    }  
</style>
{% endblock  %}